@import '../../styles/variables';

.label {
  margin-bottom: 4px;
  display: block;
}
.field {
  transition: $transDefault;
  background-color: white;
  border-radius: map-get($border, default);
  border: none;
  outline: none;
  padding-top: 5px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  width: 100%;
  &::placeholder {
    color: rgba(34, 40, 47, 0.35);
  }
  &:focus {
    // box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
  }
}