@import '../../../styles/variables';

.wrap {
  background-color: rgba(0,0,0,0.2);
  box-shadow: 1px -2px 1px rgba(0, 0, 0, 1);
  border-top: 1px solid rgba(0,0,0,0.03);
  border-left: 1px solid rgba(0,0,0,0.03);
  border-right: 1px solid rgba(0,0,0,0.03);
  flex-shrink: 0;
  position: relative;
  z-index: 2;
  height: $windowHeaderHeight;
}