@import '../../../styles/variables';

.wrap {
  // display: flex;
  justify-content: center;
}
.form {
  // max-width: 200px;
}
.formFields {
  margin-bottom: 32px - map-get($map: $formField, $key: bottomOffset);
}
.actionsWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}