@import './colors';

$point: '.';

$headerHeight: 50px;
$footerHeight: 50px;
$sidebarWidth: 0px;

$bodyTop: 50px; //calc(#{$headerHeight} + 5vh);
$bodyBottom: 50px; //calc(#{$footerHeight} + 5vh);
$bodyLeft: 50px; //calc(#{$sidebarWidth} + 5vw);
$bodyRight: 50px; //calc(#{$sidebarWidth} + 5vw);
$bodySidebarSidth: 300px;

$windowMaxWidth: 1366px;
$windowHeaderHeight: 30px;

$trans: 0.3s ease;

$windowSizes: (
  s: 360px,
  m: 800px,
  l: 1024px,
  xl: $windowMaxWidth
);

$border: (
  default: 1px
);

$transDefault: 0.3s ease;

$zIndexses: (
  modal: 10,
);

$formField: (
  bottomOffset: 10px
);

:export {
  windowSizes#{$point}: {
    s: map-get($windowSizes, s);
    m: map-get($windowSizes, m);
    l: map-get($windowSizes, l);
    xl: map-get($windowSizes, xl);
  }
}